.App {
  text-align: center;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(191, 230, 169);
  color: #50104A;
  text-align: center;
  padding: 20px;
  font-size: 10px;
  
}
.footer-Teammates {
  display: inline;
  flex-direction: row;
  padding: 10px;
  font-size: 10px;
}

@media screen {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.header {
  background-color: green;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 10px;
}

#submit_exchange {
  background-color:green;
  width: 175px;
  height: 100px;
  color: white;
  font-size: 28px;
  border-radius: 12px;
}

.form {
  padding: 50px;
}

.form > div {
  padding: 20px;
  font-size: 1.5rem;
}

.result {
  font-size: 2rem;
}

.resultHulk {
  font-size: 4rem;
  color: green;
  margin-top: 0.5rem;
}

#exchange_base, #base_value, #exchange_to{
  height: 2rem;
  font-size: 1.5rem;
}

.result_container {
  padding: 20px;
  display: inline-block;
  border: green;
  border-width: 10px;
  box-sizing: border-box;
  border-style: double;
  border-radius: 25px;
}